.wrapper {
  overflow: hidden;
}

.sliding-background {
  background: url("../images/background2.jpg") repeat-x;
  height: 200px;
  position: relative;
}

.sliding-background div {
  position: relative;
  width: 30vw;
  max-width: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}