.newCompany{
form {
  background-color: white;
  border: 2px solid #013240;

  border-radius: 15px;
  max-width: 35em;
  box-sizing: border-box;
  margin: auto;
  padding: 1.5em 2em ;

  label{
    display: inline-block;
    width: 10em;
    margin: 1.5em 1em;
    input {
      position: relative;;
      float: right;
      width: 12em;
    }
  }
  button {
  
    margin-bottom: 1.5em;
  }
  
}
}